@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.ContainIn{
  width: 100%;
  max-width: 80%;
}



/* Header */

.header {
  height: 10vh;
  width: 100vw;
  background-color: #eaae00;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.innerContainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  list-style-type: none;
  gap: 4rem;
}

.navbar > li > a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.navbar > li > a:hover {
  text-decoration: underline;
}

.searchBar {
  display: flex;
  overflow: hidden;
}
.image {
  height: 2.5rem;
  width: 2.5rem;
}
.imagediv {
  background: #00bbc6;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  background-color: #ffc400;
  border: none;
  outline: none;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 4px;
  color: white;
  height: 3rem;
  width: 20rem;
}
.search::placeholder {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}


/* Header */


/* Hero */
.hero{
  height: 100vh;
  width: 100vw;
  background-color: #ffc400;
  padding-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainerHero{
  display: flex;
}

.content{
  width: 60%;
  height: 100%;
}
.dogImage{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* place-items: center; */
}
.vete{
  font-size: 66px;
  color: white;
}

.lorem1{
  padding-top: 10px;
  padding-bottom:30px;
  color: white;
  font-size: 30px;
}


.buttonsHero{
  display: flex;
  gap: 20px;
}

.bttn{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  font-size: 25px;
  color: white;
}

.ServiceButton1{
  background:transparent;
  border: 3px solid white;
}
.ContactButton1{
  background-color: #00bbc6;
  border: 3px solid transparent; 
}
/* Hero */

/* Part2 */

.part2{
  height: 80vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Part2 */