*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 10vh;
    width: 100vw;
    background-color: gray;
}
.hero{
    height: 90vh;
    width: 100vw;
    background-color: #d6d6d6;
}
.part2{
    height: 70vh;
    width: 100vw;
    background-color: gray;
}
.part3{
    height: 90vh;
    width: 100vw;
    background-color: #d6d6d6;
}
.part4{
    height: 70vh;
    width: 100vw;
    background-color: gray;
}
.part5{
    height: 90vh;
    width: 100vw;
    background-color: #d6d6d6;
}